(
    tasks:[
        (id:"udev_monitor", type:"crate::tasks::UdevMonitor", config:{}),
    ],
    cnx:[],
    includes:[
        (
            path:"camera_configs/camera_template_gstreamer.ron",
            params:{
                "id":"front",
                "port":"pci-0000:35:00.0-usb-0:1:1.0",
                "fx":1513.93,
                "fy":1513.93,
                "cx":946.84,
                "cy":557.819,
            },
        ),

        (
            path:"camera_configs/camera_template_gstreamer.ron",
            params:{
                "id":"side",
                "port":"pci-0000:00:14.0-usb-0:2:1.0",
                "fx":1513.93,
                "fy":1513.93,
                "cx":946.84,
                "cy":557.819,
            },
        ),
    ],
    monitor:(type:"cu_consolemon::CuConsoleMon"),
    logging:(
        enable_task_logging:true,
        section_size_mib:8,
    ),
)
