(
    runtime: (
        rate_target_hz: 1000
    ),
    tasks:[
        // Uses a behavior tree to make decisions for the robot. 
        (
            id: "new_ai",
            type: "crate::tasks::ai::lunabot_ai::LunabotAi",
            config: {},
        ),
        // waits for v4l udev add events, and reports them to the camera tasks
        // camera tasks can open the device if the port from the reported event
        // matches the port from the camera task config
        (
            id:"udev_monitor",
            type:"crate::tasks::UdevMonitor",
            config:{},
            // task is stubbed out in sim mode
            run_in_sim: false
        ),
        // subscribes to  point clouds from iceoryx2, published from c++ by the unilidar_iceoryx_publisher
        (
            id:"l2_pointcloud",
            type:"crate::tasks::sources::PointCloudIceoryxReceiver",
            config:{},
            logging: (
                enabled: true
            ),
            // task is stubbed in sim mode
            run_in_sim: false,
        ),
        // subscribes to imu information from the unilidar_iceoryx_publisher
        (
            id:"l2_imu",
            type:"crate::tasks::sources::ImuIceoryxReceiver",
            config:{},
            // task gets stubbed out in sim mode
            run_in_sim: false,
        ),
        // subscribes to depth frames and imu data from the external_tasks/realsense process
        (
            id:"realsense_subscriber",
            type: "crate::tasks::sources::RealsenseSubscriber",
            config: {
                "serial_num": "044422250424",
                "camera_node": "upper_depth_camera"
            },
            logging: (
                enabled: true
            ),
            run_in_sim: false
        ),

        (
            id: "t265_subscriber",
            type: "crate::tasks::sources::T265Subscriber",
            config: {
                "serial_num": "929122111514",
                "camera_node": "upper_depth_camera_t265",
                "node": "T265_right"
            },
            logging: (
                enabled: true
            ),
            run_in_sim: false
        ),
        // takes depth frames and imu information from the realsense subscriber and uses obstacle detection to create an occupancy grid
        // the size of the arena
        (
            id:"occupancy_grid_pipeline",
            type: "crate::tasks::OccupancyGridTask",
            config: {
                "camera_node": "upper_depth_camera",
                "gaussian_kernel_size": 5,
                "focal_length": 383,
                "ppx": 317.44882,
                "ppy": 245.91605,
            },
            // FIXME: use a custom backrounding implementation instead of going through copper for support, because
            // in resimulation mode the pipeline process will take way too long
            background: true,
        ),
        // registers point clouds into a global map, and estimates the isometry of the lidar node.
        // the isometry is relative to the robots starting position, not actual global coordinates
        (
            id:"l2_kiss_icp",
            type:"crate::tasks::KissIcp",
            config:{
                "voxel_size": .5,
                "max_range": 10.0,
                "min_range": 0.0,
                "max_points_per_voxel": 20,
                "initial_threshold": 2.0,
                "min_motion_th": 0.2,
                "enable_deskewing": true,
                "max_num_threads": 10,
                "convergence_criterion": 0.0001,
                "max_num_iterations": 500,
                "max_accumulation": 2
            },
            logging: (
                enabled: false
            ),
            background: true
        ),
        // fuses information from IMUs, Apriltags, and ICP algos providing one global robot position.
        // position is logged to rerun at 60 hz
        (
            id:"localizer", type:"crate::tasks::sinks::Localizer",
            config:{},
            // task does not get stubbed out in sim mode
            run_in_sim: true,
        ),
        // receives messages from the lunabase over UDP
        (
            id:"lunabase", type:"crate::tasks::sources::Lunabase", config:{
                "max_pong_delay_ms": 500,
            },
            run_in_sim: true,
        ),
        // receives messages from the ai_source and tells the motors to move accordingly
        (
            id:"motor_ctrl", type:"crate::tasks::sinks::MotorController", config:{
                "speed_multiplier": 1500,
                "vesc_pairs": [
                    // yes having these as strings is janky but it works
                    "VescPair(
                        id1: 75,
                        id2: 110,
                        mask1: Right,
                        mask2: Right
                    )",
                    "VescPair(
                        id1: 63,
                        id2: 74,
                        mask1: Left,
                        mask2: Left
                    )"
                ]
            },
            run_in_sim: false,
        ),
        // uses async tasks to communicate with the pico on the v3 pcb that electrical team designed.
        // controls actuators and sends imu data to the localizer
        (
            id:"v3_pico", type: "crate::tasks::V3PicoTask", config:{}
        ),
        // handles apriltag detections from all the cameras, combining them and then sending them over to the localizer
        (
            id: "detection_handler",
            type: "crate::tasks::AprilDetectionHandler",
        )
    ],
    cnx:[
        (src:"l2_imu",                  dst:"localizer",               msg:"crate::tasks::sources::ImuMeasurement"),
        (src:"l2_pointcloud",           dst:"l2_kiss_icp",             msg:"iceoryx_types::IceoryxPointCloud"),
        (src:"l2_kiss_icp",             dst:"localizer",               msg:"crate::tasks::IcpMeasurement"),
        (src:"lunabase",                dst:"new_ai",                  msg:"Option<common::FromLunabase>"),
        // copper doesn't support multiple outputs on a single task so for now we just put them in a tuple and ignore one side
        (src:"realsense_subscriber",    dst:"occupancy_grid_pipeline", msg:"(Option<iceoryx_types::IceoryxDepthFrame<307200>>, Option<iceoryx_types::ImuMsg>)"),
        (src:"occupancy_grid_pipeline", dst:"new_ai",                  msg:"crate::tasks::OccupancyGrid"),
        (src:"new_ai",                  dst:"motor_ctrl",              msg:"(Option<common::Steering>, Option<embedded_common::ActuatorCommand>)"),
        (src:"new_ai",                  dst:"v3_pico",                 msg:"(Option<common::Steering>, Option<embedded_common::ActuatorCommand>)"),
        (src:"v3_pico",                 dst:"localizer",               msg:"embedded_common::FromPicoV3"),
        (src:"detection_handler",       dst: "localizer",              msg:"Vec<crate::tasks::AprilTagMeasurement>"),
        (src:"t265_subscriber",         dst:"localizer",               msg:"cu_spatial_payloads::EncodableIsometry"),
    ],
    
    includes:[
        // starts a gstreamer pipeline that waits for a message from udev_monitor and then starts the pipeline accordingly
        // sends frames through a dynamic threshold and then to the apriltag detector, then to the detection handler.
        // frames are streamed over udp to the host and port specified in the config
        (
            path:"camera_configs/camera_template_gstreamer.ron",
            params:{
                "id":"back",
                "port":"pci-0000:34:00.4-usb-0:2.4:1.0",
                "fx":689.93,
                "fy":689.93,
                "cx":320.84,
                "cy":240.819,
                "width":640,
                "height":480,
                "udp_host":"192.168.0.108",
                "udp_port":5004,
            },
        ),
        (
            path:"camera_configs/camera_template_gstreamer.ron",
            params:{
                "id":"side",
                "port":"pci-0000:00:14.0-usb-0:1:1.0",
                "fx":689.93,
                "fy":689.93,
                "cx":320.84,
                "cy":240.819,
                "width":640,
                "height":480,
                "udp_host":"127.0.0.1",
                "udp_port":5003,
            },
        ),
        (
            path:"camera_configs/camera_template_gstreamer.ron",
            params:{
                "id":"laptop_front",
                "port":"pci-0000:00:14.0-usb-0:4:1.0",
                "fx":939.93,
                "fy":938.93,
                "cx":640.84,
                "cy":340.819,
                "width":1280,
                "height":720,
                "udp_host":"127.0.0.1",
                "udp_port":5006,
            }
        ),
    ],
    //monitor:(type:"cu_cursive_consolemon::CuCursiveConsoleMon"),
    // monitor:(type:"cu_consolemon::CuConsoleMon"),
    monitor: (type:"simple_monitor::SimpleMonitor"),
    logging:(
        enable_task_logging: true,
        section_size_mib:100,
    ),
)
