**/.vscode/settings.json
target/
build/CMakeCache.txt
build/.cmake/api/v1/query/client-vscode/
build/.cmake/api/v1/reply/
build/CMakeFiles/cmake.check_cache
build/*
.DS_Store
godot/new-lunabase/liblunabase_lib.so
godot/build/*
copper-rs/
*.dll
*.exe
*.zip
