{
    free_origin: [0.0, 0.0, 0.0],
    free_euler: [0.0, 0.0, 0.0],
    children: [
        {
            name: Some("depth_camera"),
            origin: [0.0, 0.3, -0.2163],
            euler: [0.0, 0.0, 0.0]
        },
        {
            name: Some("back_camera"),
            origin: [0, 0.33385, 0.025],
            euler: [0.0, 0.0, 180.0]
        },
        {
            name: Some("left_camera"),
            origin: [-0.2413, 0.33385, 0.025],
            euler: [0.0, 0.0, 90.0]
        },
        {
            name: Some("right_camera"),
            origin: [0.2413, 0.33385, 0.025],
            euler: [0.0, 0.0, -90.0]
        },
        {
            name: Some("imu_21"),
            euler: [0.0, -90.0, 180.0]
        },
        {
            name: Some("imu_42"),
            euler: [0.0, 90.0, 0.0]
        }
    ]
} 