{ // euler angles are declared in roll, pitch, yaw order, and by default applied in yaw, pitch, roll order, but you can change that order with the "euler_order" field
    "free_origin": [0.0, 0.0, 0.0], 
    "free_euler": [0.0, 0.0, 0.0], 
    "children": [
        {
            //t265
            "name": Some("929122111514"),
            "origin": [0.065,0.20,0.0],
            "euler": [180.0,0.0,90.0],

        },
        {
            "name": Some("l2_front"),
            "origin": [0.80, 0.0, 0.45],
            "euler":  [0.0, 0., 160.0],
            // "euler": [0,0,0],
            // dont question my decision to add this field
            // this field determines the orders the angles are applied in
            "euler_order": ["pitch","yaw","roll"]
        },
        {
            "name": Some("upper_depth_camera"),
            "origin": [0.89, 0.0, 0.31],
            "euler": [0.0, 28.0, 0.0]
        },
        {
            "name": Some("cam_laptop_front"),
            "origin": [-0.2, 0.0, 0.3],
            "euler": [0.0, 0.0, 180.0]
        },
        {
            "name": Some("cam_side"),
            "origin": [0.155, 0.245, 0.0],
            "euler": [0.0, 0.0, -90.0]
        },
        {
            "name": Some("low_right_camera"),
            "origin": [0.231, 0.0, -0.055],
            "euler": [0.0, 0.0, -90.0]
        },
        {
            "name": Some("cam_back"),
            "origin": [-0.36, 0.0, 0.0],
            "euler": [0.0, 0.0, 180.0]
        },
        {
            "name": Some("middle_camera"),
            "origin": [0.0, 0.0, -0.215],
            "euler": [0.0, 0.0, 0.0]
        },
        {
            "name": Some("v3_board"),
            "origin": [0, 0, 0],
            "euler": [0.0, 0.0, 0.0],
            "children": [
                {
                    "name": Some("imu0"),
                    "euler": [0.0, 0.0, 90.0]
                },
                {
                    "name": Some("imu1"),
                    "euler": [0.0, 0.0, 90.0]
                },
                {
                    "name": Some("imu2"),
                    "euler": [0.0, 90.0, 90.0]
                },
                {
                    "name": Some("imu3"),
                    "euler": [0.0, 90.0, 90.0]
                }
            ]
        },
        {
            "name": Some("lift_hinge"),
            "start_euler": [0.0, 0.0, 0.0],
            "origin": [0.0, 0.08, 0.455],
            "rotation_axis": [0.0, 1.0, 0.0],
            "children": [
                {
                    "name": Some("bucket"),
                    "rotation_axis": [1.0, 0.0, 0.0]
                },
                {
                    "name": Some("split"),
                    "origin": [0.0, 0.0, -0.615],
                    "euler": [0.0, 45.0, 0.0],
                    "children": [
                        {
                            "name": Some("left_arm_camera"),
                            "origin": [-0.23, 0.0, -0.28],
                            "euler": [0.0, -10.0, 190]
                        },
                        {
                            "name": Some("upper_camera_joint"),
                            "origin": [0.0, 0.0, -0.383],
                            "euler": [0.0, -16.0, 0.0],
                            "children": [
                                {
                                    "name": Some("upper_camera_wrist"),
                                    "origin": [0.0, 0.0, -0.316],
                                    "euler": [0.0, -60.0, 0.0],
                                    "children": [

                                    ]
                                }
                            ]
                        },
                        {
                            "name": Some("lower_camera_joint"),
                            "origin": [0.0, -0.054, -0.328],
                            "euler": [0.0, -48.0, 0.0],
                            "children": [
                                {
                                    "name": Some("lower_camera_wrist"),
                                    "origin": [0.0, 0.0, -0.316],
                                    "euler": [0.0, -81.0, 0.0],
                                    "children": [
                                        {
                                            "name": Some("lower_depth_camera"),
                                            "origin": [0.0, 0.0, -0.037],
                                            "euler": [0.0, 0.0, 0.0]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    ]
}
