# /etc/udev/rules.d/99-custom-usb.rules

# Your custom device
SUBSYSTEM=="usb", ATTR{idVendor}=="c0de", ATTR{idProduct}=="cafe", MODE="0666"

# Intel RealSense T265
SUBSYSTEM=="usb", ATTR{idVendor}=="8086", ATTR{idProduct}=="0b37", MODE="0666"

# Intel RealSense Depth cameras (D435/D455/etc common IDs)
SUBSYSTEM=="usb", ATTR{idVendor}=="8086", ATTR{idProduct}=="0b07", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="8086", ATTR{idProduct}=="0b3a", MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="8086", ATTR{idProduct}=="0b5c", MODE="0666"


# STMicroelectronics virtual COM port (VESC)
SUBSYSTEM=="usb", ATTR{idVendor}=="0483", MODE="0666"

# Also make tty devices permissive
SUBSYSTEM=="tty", ATTRS{idVendor}=="2e8a", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0483", MODE="0666"