
(
    walls: [
        (0.0, 0.0, 4.57, 8.14),
    ],

    // Central support column
    // Defined as (center_x, center_y, width, length) in meters
    pillars_rect: [ ],

    pillars: [],

    // Boulder obstacles 
    // Specs: Minimum 3 boulders, 30-40 cm diameter 
    boulders: [
        (2.0, 2.5, 0.17),  
        (3.3, 3.5, 0.19),  
        (4.0, 1.0, 0.16),  
    ],

    // Defined as (center_x, center_y, radius) in meters
    // Specs: Minimum 3 craters, up to 40-50 cm width 
    craters: [
        (3.0, 4.5, 0.23),  
        (3.9, 2.0, 0.21),  
        (1.6, 3.5, 0.24), 
    ],
)
