// UCF LEFT (from mission control perspective, i.e. robot to berm perspective)
(
    tag_id: 16,
    origin: (0.0, 1.0, 0.1),
    euler: (0.0, 0.0, 0.0),
)
// UCF RIGHT
// (
//     tag_id: 16,
//     origin: (0.0, -1.0, 0.1),
//     euler: (0.0, 0.0, 0.0),
// )