GridLayout(
    // layout of camera feeds to display
    dimensions: (2,2),
    feed_descriptors: [
        CameraFeed (
            id: "Front",
            address: "192.168.0.107:4002",
        ),
        CameraFeed (
            id: "ObstacleMap",
            address: "192.168.0.107:5000",
        ),
        CameraFeed (
            id: "T265Left",
            address: "192.168.0.107:5001",
        ),
        CameraFeed (
            id: "T265Right",
            address: "192.168.0.107:5002",
        ),
        CameraFeed (
            id: "RealsenseFront",
            address: "192.168.0.107:4003",
        )
    ]
)
