GridLayout(
    // layout of camera feeds to display
    dimensions: (2,2),
    feeds: [
        CameraFeed (
            id: "Front",
            address: "192.168.0.100:4002",
            // rotation: Cw9,
        ),
        CameraFeed (
            id: "ObstacleMap",
            address: "192.168.0.100:5000",
        ),
        CameraFeed (
            id: "T265Left",
            address: "192.168.0.100:5001",
            rotation: R180
        ),
        CameraFeed (
            id: "T265Right",
            address: "192.168.0.100:5002",
            rotation: R180
        ),
        CameraFeed (
            id: "RealsenseFront",
            address: "192.168.0.100:4003",
        ),
        CameraFeed (
            id: "T265Front",
            address: "192.168.0.100:5003",
            rotation: R180
        ),
        CameraFeed (
            id: "Dig",
            address: "192.168.0.100:4000",
            // rotation: Cw90
        )
    ]
)
