(
    tasks: [
        (
            id: "cam_{{id}}",
            type: "crate::tasks::CuDefaultAutoGStreamer",
            config: {
                "camera_id": "{{id}}",
                "device_port": "{{port}}",
                "pipeline": "v4l2src device=<devpath> ! image/jpeg,width=640,height=480 ! jpegdec ! videoconvert ! video/x-raw,format=GRAY8 ! appsink name=copper",
                "caps": "video/x-raw, format=GRAY8, width=640, height=480",
                "timeout_ms": 500, // assume device has been disconnected after 500 ms and exit pipeline/ wait for new device 
            },
        ),
        (
            id: "thres{{id}}",
            type: "cu_dynthreshold::DynThreshold",
            config: {"width": 640, "height": 480, "block_radius": 100}
        ),
        (
            id: "detector_cam_{{id}}",
            type: "cu_apriltag::AprilTags",
            config: {
                "tag_family": "tag16h5",
                "tag_size": 0.14,
                "fx": {{fx}},
                "fy": {{fy}},
                "cx": {{cx}},
                "cy": {{cy}},
                "camera_id": "{{id}}",
            },
        ),
        (
            id: "tag_sink",
            type: "crate::tasks::DetectionLogger",
        ),
    ],
    cnx: [
        (src: "udev_monitor", dst: "cam_{{id}}", msg: "crate::tasks::NewDevice"),
        (src: "cam_{{id}}", dst: "thres{{id}}", msg: "crate::tasks::CuGstBuffer"),
        (src: "thres{{id}}", dst: "detector_cam_{{id}}", msg: "cu_sensor_payloads::CuImage<Vec<u8>>"),
        (src: "detector_cam_{{id}}", dst: "tag_sink", msg: "cu_apriltag::AprilTagDetections"),
    ],
) 
