(
    tasks: [
        (
            id: "cam_{{id}}",
            type: "crate::tasks::CuDefaultAutoGStreamer",
            config: {
                "camera_id": "{{id}}",
                "device_port": "{{port}}",
                "pipeline": "v4l2src device=<devpath> ! video/x-raw,width={{width}},height={{height}} ! videoconvert ! tee name=t ! queue ! videoconvert ! video/x-raw,format=GRAY8 ! appsink name=copper t. ! queue ! videoconvert ! video/x-raw,format=NV12 ! vaapih264enc bitrate=2000 ! rtph264pay ! udpsink host={{udp_host}} port={{udp_port}} sync=false",
                "caps": "video/x-raw, format=GRAY8, width={{width}}, height={{height}}",
                "timeout_ms": 600,
            },
        ),
        (
            id: "thres{{id}}",
            type: "cu_dynthreshold::DynThreshold",
            config: {
                "width": {{width}},
                "height": {{height}},
                "block_radius": 100
            }
        ),
        (
            id: "detector_cam_{{id}}",
            type: "cu_apriltag::AprilTags",
            config: {
                "tag_family": "tag16h5",
                "tag_size": 0.14,
                "fx": {{fx}},
                "fy": {{fy}},
                "cx": {{cx}},
                "cy": {{cy}},
                "camera_id": "{{id}}",
            },
        ),
        (
            id: "tag_sink",
            type: "crate::tasks::DetectionLogger",
        ),
    ],
    cnx: [
        (src: "udev_monitor", dst: "cam_{{id}}", msg: "crate::tasks::NewDevice"),
        (src: "cam_{{id}}", dst: "thres{{id}}", msg: "crate::tasks::CuGstBuffer"),
        (src: "thres{{id}}", dst: "detector_cam_{{id}}", msg: "cu_sensor_payloads::CuImage<Vec<u8>>"),
        (src: "detector_cam_{{id}}", dst: "tag_sink", msg: "cu_apriltag::AprilTagDetections"),
    ],
)