(
    tasks: [
        (
            id: "cam_{{id}}",
            type: "crate::tasks::GstAutoCam",
            config: {
                "camera_id": "{{id}}",
                "device_port": "{{port}}",
                // A pipeline template where {device} will be replaced at runtime with /dev/videoN
                "pipeline": "v4l2src device={device} ! videoconvert ! appsink name=copper",
                "caps": "video/x-raw, format=GRAY8, width=1920, height=1080",
                "timeout_ms": 500,
                // Intrinsics
                "fx": {{fx}},
                "fy": {{fy}},
                "cx": {{cx}},
                "cy": {{cy}},
            },
        ),
        (
            id: "thres_cam_{{id}}",
            type: "cu_dynthreshold::DynThreshold",
            config: {
                "width": 1920,
                "height": 1080,
                "block_radius": 100,
            },
        ),
        (
            id: "tags_cam_{{id}}",
            type: "cu_apriltag::AprilTags",
            config: {
                "tag_family": "tag16h5",
                "tag_size": 0.14,
                "fx": {{fx}},
                "fy": {{fy}},
                "cx": {{cx}},
                "cy": {{cy}},
            },
        ),
        (
            id: "tag_sink",
            type: "crate::tasks::DetectionLogger",
        ),
    ],
    cnx: [
        (src: "udev_monitor", dst: "cam_{{id}}", msg: "crate::tasks::NewDevice"),
        (src: "cam_{{id}}", dst: "thres_cam_{{id}}", msg: "cu_gstreamer::CuGstBuffer"),
        (src: "thres_cam_{{id}}", dst: "tags_cam_{{id}}", msg: "cu_sensor_payloads::CuImage<Vec<u8>>"),
        (src: "tags_cam_{{id}}", dst: "tag_sink", msg: "cu_apriltag::AprilTagDetections"),
    ],
) 
