(
    tasks: [
        (
            id: "cam_{{id}}",
            type: "crate::tasks::CuDefaultAutoGStreamer",
            config: {
                "camera_id": "cam_{{id}}",
                "device_port": "{{port}}",
                "pipeline": "v4l2src device=<devpath> ! video/x-raw,width={{width}},height={{height}} ! videoconvert ! tee name=t ! queue ! videoconvert ! video/x-raw,format=GRAY8 ! appsink name=copper_cam_{{id}} t. ! queue ! videoconvert ! video/x-raw,format=NV12 ! vaapih264enc bitrate=2000 ! rtph264pay ! udpsink host={{udp_host}} port={{udp_port}} sync=false",
                "caps": "video/x-raw, format=GRAY8, width={{width}}, height={{height}}",
                "timeout_ms": 500,
            },
            logging: (
                enabled: false
            )
        ),
        (
            id: "gst_convert_{{id}}",
            type: "crate::tasks::GstToImage",
            config: {
                "width": {{width}},
                "height": {{height}},
                "pixel_format": "GRAY"
            },
            logging: (
                enabled: false
            )
        ),
        (
            id: "detector_cam_{{id}}",
            type: "cu_apriltag::AprilTags",
            config: {
                "tag_family": "tag16h5",
                "tag_size": 0.14,
                "fx": {{fx}},
                "fy": {{fy}},
                "cx": {{cx}},
                "cy": {{cy}},
                "camera_id": "cam_{{id}}",
            },
            logging: (
                enabled: false
            )
        ),
        (
            id: "detection_handler",
            type: "crate::tasks::AprilDetectionHandler",
            logging: (
                enabled: false
            )
        ),
        (
            id: "localizer",
            type: "crate::tasks::CuLocalizer",
            config: {
                "layout_path": "../robot-layout/lunabot.ron"
            }
        )
    ],
    cnx: [
        (src: "udev_monitor", dst: "cam_{{id}}", msg: "crate::tasks::NewDevice"),
        (src: "cam_{{id}}", dst: "gst_convert_{{id}}", msg: "crate::tasks::CuGstBuffer"),
        (src: "gst_convert_{{id}}", dst: "detector_cam_{{id}}", msg: "cu_sensor_payloads::CuImage<Vec<u8>>"),
        (src: "detector_cam_{{id}}", dst: "detection_handler", msg: "cu_apriltag::AprilTagDetections"),
        (src: "detection_handler", dst: "localizer", msg: "Box<std::collections::HashMap<String, cu_spatial_payloads::Transform3D<f64>>>")
    ],
)
